@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "./scss/variables";
@import "./scss/classes";
@import "./scss/buttons";
@import "./scss/positioning";
@import "./scss/animations";
@import "./scss/responsive";

*,
html,
body,
#app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", Avenir, Helvetica, Arial, sans-serif;
  font-size: $cp-font-size-16;
  color: $cp-color-black;
  background: linear-gradient(180deg, rgba(164, 255, 46, 0.05), rgba(242, 255, 67, 0.05));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
	text-decoration: none;
	text-transform: none;
}

ul {
	list-style: none;
}