// Colors
$cp-color-black: rgb(26, 25, 25);
$cp-color-primary: #047aed;
$cp-color-blue: #1c3fa8;
$cp-color-blue-dark: #002240;
$cp-color-light: #f4f4f4;
$cp-color-green: #5cb85c;
$cp-color-red: #d9534f;

// Font Size
$cp-font-size-16: 16px;